<!doctype>
<html>

<head>
   {{> header}}
</head>

<body>

    <div id="navBar" class="bar">
        <p style="margin-top: 1.75vh; font-size: 4.5vh;">New Event</p>
        <img id="back" onclick="goBack()" src="../img/back.png">
    </div>

    {{#if viewB}}
    <form class="createForm" role="form" method="get" action="/homeB">
        <input type="text" id="createFriend" placeholder="Weeth Who?" name="weeth" autocomplete="off" onclick="showFriends()"
            onkeyup="selectFriend()" value="">

        <div class="exist-friends" id="autofill">
            {{#each friends}}
            <p class="existFriend">{{name}}</p>
            {{/each}}
        </div>

        <br><br>
        <input type="text" id="createTitle" placeholder="Event Title" name="title" autocomplete="off"><br><br>
        <input type="text" id="createPlace" placeholder="Event Location" name="location" autocomplete="off"><br><br>
        <input id="createDate" placeholder="Event Date" type="date" name="date"><br><br>
        <br><br><br>
        <input type="submit" id="createFinish" onclick="buttonFeed('#createFinish', 'Have Fun!')" value="Create">
        <p style="opacity: 0; font-size: 30vh;">~</p>
    </form>
    {{else}}
    <form class="createForm" role="form" method="get" action="/home">
        <input type="text" id="createFriend" placeholder="Weeth Who?" name="weeth" autocomplete="off" onclick="showFriends()"
            onkeyup="selectFriend()" value="">

        <div class="exist-friends" id="autofill">
            {{#each friends}}
            <p class="existFriend">{{name}}</p>
            {{/each}}
        </div>

        <br><br>
        <input type="text" id="createTitle" placeholder="Event Title" name="title" autocomplete="off"><br><br>
        <input type="text" id="createPlace" placeholder="Event Location" name="location" autocomplete="off"><br><br>
        <input id="createDate" placeholder="Event Date" type="date" name="date"><br><br>
        <br><br><br>
        <input type="submit" id="createFinish" onclick="buttonFeed('#createFinish', 'Have Fun!')" value="Create">
        <p style="opacity: 0; font-size: 30vh;">~</p>
    </form>
    {{/if}}

</body>

</html>
