<!doctype>
<html>

<head>
    <title>Weeth</title>
    <link rel="icon" href="">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <script src="../js/script.js"></script>
    <script src="../js/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
</head>

<body>

    <div id="navBar" class="bar">
        <p style="margin-top: 1.75vh; font-size: 4.5vh;">Friends</p>
<!--        <img id="back" onclick="goBack()" src="../img/back.png">-->
        <a href="/home">
      <img id="homeButton" src="../img/homeButton.png" text-align="center" />
    </a>
    </div>
    
    <div id="botBar" class="bar fixed-nav-bar">
        <button id="createEve" onclick="window.location.href='create'">+</button>
        <img id="noti" onclick="window.location.href='/notification'" src="../img/noti.png">
        <img id="friends" onclick="window.location.href='/friends'" src="../img/friends.png">
    </div>
    
    
    <br><br><br><br><br>
    <div class="addFriendDiv">
      <button id="addFriend" onclick="addFriendClick()">Add Friend</button>
      <br><br>
    </div>
    <p class="friendLabel">Your Friends</p>

    {{#each possibleFriends}}
    <div class="hiddenFriend" style="display: none;">
      <img class="friendPhoto" src="img/friendProfile.png">
      <a class="friendText">{{name}}</a>
      <a class="addFriendButton">
        <img class="addIcon" src="img/addFriendBefore.svg">
      </a>
    </div>
    {{/each}}

    {{#each friends}}
    <div class="friendDiv" onclick="window.location.href = '/friends/{{name}}';">
      <img class="friendPhoto" src="img/friendProfile.png">
      <a class="friendText">{{name}}</a>
    </div>
    {{/each}}
</body>

</html>
