<!doctype html>

<html>

<head>
    <title>Weeth</title>
    <link rel="icon" href="">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <script src="../js/script.js"></script>

    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
</head>

<body>

    <div id="navBar" class="bar">
        <p style="margin-top: 1.75vh; font-size: 4.5vh;"></p>
    </div>
    <br><br>

    <p class="appTitle">Weeth<p>
            <form class="container">
                <label for="username" class="loginLabel">Username</label><br>
                <input type="text" id="username" placeholder="Enter Username" name="uname">
                <br><br>
                <label for="password" class="loginLabel">Password</label><br>
                <input type="password" id="password" placeholder="Enter Password" name="psw">
                <br>
                <a type="submit" id="loginButton" href="home">Login</a>
            </form>

            <!-- <br><br>
    <a href="home.html">But you'll go to home page directly, for now</a> -->

</body>

</html>