<!doctype html>

<html class="appColor">

<head>
    <title>Weeth</title>
    <link rel="icon" href="">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <script src="../js/jquery.min.js"></script>
    <script src="../js/script.js"></script>
    <script src="../js/facebookIndex.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css?family=Varela+Round&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,600,800&display=swap" rel="stylesheet">
</head>

<body>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v6.0"></script>

    <img src="/img/weethLogo.png" class="weethLogo" style="margin-top:1vh;">
    <p class="appTitle">weeth<p>
    
    <form class="divStyle">
        <input type="text" id="loginUsername" placeholder="Username" name="uname" class="loginInput" autocomplete="off">
        <input type="password" id="loginPassword" placeholder="Enter Password" name="psw" class="loginInput" autocomplete="off">
        <p class="forgotPassword">Forgot Password?</p>
    </form>
    <div class="divStyle">
        <a type="submit" id="loginButton" href="home">Login</a>
    </div>
    <div class="divStyle" style="padding-bottom: 4vh;">
        <a href="/home"  data-auto-logout-link="false" onclick="checkLoginState()" class="facebookLogin" autocomplete="off">
            <img src="img/facebookLogo.png"  class="facebookLogo"> Sign up with Facebook
        </a>
    </div>

    {{!-- <div class="fb-login-button" data-width="80" data-size="large" data-button-type="login_with" data-auto-logout-link="false"
     onlogin="checkLoginState();" data-use-continue-as="false" onclick="window.location.href='/home';"></div> --}}

    <a class="indexSignUp" href="/signup">Sign up an account</a>
</body>

</html>
