<!doctype>
<html>

<head>
    <title>Weeth</title>
    <link rel="icon" href="">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <script src="../js/jquery.min.js"></script>
    <script src="../js/script.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
</head>

<body>

    <div id="navBar" class="bar">
        <p style="margin-top: 1.75vh; font-size: 4.5vh;">Notification</p>
        <!--        <img id="back" onclick="goBack()" src="../img/back.png">-->
        <a href="/home">
      <img id="homeButton" src="../img/homeButton.png" text-align="center" />
    </a>
    </div>
    
    <div id="botBar" class="bar fixed-nav-bar">
        <button id="createEve" onclick="window.location.href='create'">+</button>
        <img id="noti" onclick="window.location.href='/notification'" src="../img/noti.png">
        <img id="friends" onclick="window.location.href='/friends'" src="../img/friends.png">
    </div>
    
    <div style="margin-top: 13vh;">
<!--
        <div class="notiCard">
            <img class="notiUser" src="https://loremflickr.com/260/260">
            <p class="notiContent">Christy Ha<br><span style="font-weight: 100;">sent a friend request</span></p>
            <a class="notiAction1">reject</a>
            <a class="notiAction2">accept</a>
        </div>
-->
        {{#if alreadyRead}}
        <p style="font-size: 2.7vh;">Past Notifications</p>
        {{else}}
        <p style="font-size: 2.7vh;">New Notification</p>
        {{/if}}
        
        <div class="notiCard">
            <img class="notiUser" src="https://loremflickr.com/260/260">
            <p class="notiContent">Jianan<br><span style="font-weight: 100;">wrote to you for "Bowling at Superbowl"</span></p>
<!--            <a class="notiAction1">Remind me</a>-->
            <a class="notiAction2" onclick="window.location.href = '/fakeletter';">View</a>
        </div>
    </div>

</body>

</html>