<!doctype>
<html>

<head>
    <title>Weeth</title>
    <link rel="icon" href="">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <script src="../js/script.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
</head>

<body>

    <div id="navBar" class="bar">
        <p style="margin-top: 1.75vh; font-size: 4.5vh;">Notification</p>
        <img id="back" onclick="goBack()" src="../img/back.png">
    </div>
    
    <div style="margin-top: 13vh;">
        <div class="notiCard">
            <img class="notiUser" src="https://loremflickr.com/260/260">
            <p class="notiContent">Christy Ha<br><span style="font-weight: 100;">sent a friend request</span></p>
            <a class="notiAction1">reject</a>
            <a class="notiAction2">accept</a>
        </div>
        <div class="notiCard">
            <img class="notiUser" src="https://loremflickr.com/260/260">
            <p class="notiContent">David Gallardo<br><span style="font-weight: 100;">wrote to you</span></p>
            <a class="notiAction1">Remind me</a>
            <a class="notiAction2">Yay!!!</a>
        </div>
    </div>

</body>

</html>