<!doctype html>

<html class="appColor">

<head>
    <title>Weeth</title>
    <link rel="icon" href="">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <script src="../js/jquery.min.js"></script>
    <script src="../js/script.js"></script>
    
    <link href="https://fonts.googleapis.com/css?family=Varela+Round&display=swap" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,600,800&display=swap" rel="stylesheet">
</head>

<body>
    <br>
    <img src="/img/weethLogo.png" class="weethLogo">
    <p class="appTitle">weeth<p>
    
    <div style="padding: 0 0vw 0 0vw; width: 100%; margin: 0 0 0 0; padding-bottom: 3%;">
        <div style="width: 90%; margin: 0 0 0 0; display: inline-block; padding-bottom: 2vh;">
            <input type="text" id="username" placeholder="Username" name="uname">
        </div>
        <div style="width: 90%; margin: 0 0 0 0; display: inline-block; padding-bottom: 2vh;">
            <input type="email" id="email" placeholder="Email" name="email">
        </div>
        <div style="width: 90%; margin: 0 0 0 0; display: inline-block; padding-bottom: 2vh;">
            <input type="password" id="password" placeholder="Password" name="psw">
        </div>
        <div style="width: 90%; margin: 0 0 0 0; display: inline-block; padding-bottom: 2vh;">
            <input type="password" id="password" placeholder="Confirm Password" name="psw">
        </div>
    </div>
    <br><br>
    <a type="submit" id="createAccount" href="home">Sign Up</a>

</body>

</html>