<!doctype html>

<html>

<head>
    <title>Weeth</title>
    <link rel="icon" href="">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <script src="../js/jquery.min.js"></script>
    <script src="../js/script.js"></script>

    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
</head>

<body>

    <p class="appTitle" style="margin: 2vh 0 0 0; padding-bottom: 0vh">Weeth<p>
    
    <div style="padding: 0 0vw 0 0vw; width: 100%; margin: 0 0 0 0; padding-bottom: 3%;">
        <div style="width: 90%; margin: 0 0 0 0; display: inline-block; padding-bottom: 2vh;">
            <label for="username" class="loginLabel">Username</label>
            <input type="text" id="username" placeholder="Enter Username" name="uname">
        </div>
        <div style="width: 90%; margin: 0 0 0 0; display: inline-block; padding-bottom: 2vh;">
            <label for="email" class="loginLabel" style="margin-right: 80vw;">Email</label>
            <input type="email" id="email" placeholder="Enter Email" name="email">
        </div>
        <div style="width: 90%; margin: 0 0 0 0; display: inline-block; padding-bottom: 2vh;">
            <label for="password" class="loginLabel">Password</label>
            <input type="password" id="password" placeholder="Enter Password" name="psw">
        </div>
        <div style="width: 90%; margin: 0 0 0 0; display: inline-block; padding-bottom: 2vh;">
            <label for="password" class="loginLabel">Password</label>
            <input type="password" id="password" placeholder="Confirm Password" name="psw">
        </div>
    </div>
    <br><br><br>
    <a type="submit" id="createAccount" href="home">Create Account</a>

</body>

</html>