<!doctype html>

<html class="appColor">

<head>
    <title>Weeth</title>
    <link rel="icon" href="">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <script src="../js/jquery.min.js"></script>
    <script src="../js/script.js"></script>
    
    <link href="https://fonts.googleapis.com/css?family=Varela+Round&display=swap" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,600,800&display=swap" rel="stylesheet">
</head>

<body>
    <img src="/img/weethLogo.png" class="weethLogo" style="margin-top:1vh;">
    <p class="appTitle">weeth<p>
    
    <form class="divStyle">
        <input type="text" id="username" class="signUpInput" placeholder="Username" name="uname" autocomplete="off">
        <input type="email" id="email" class="signUpInput" placeholder="Email" name="email" autocomplete="on">
        <input type="password" id="password" class="signUpInput" placeholder="Password" name="psw" autocomplete="off">
        <input type="password" id="confirmPassword" class="signUpInput" placeholder="Confirm Password" name="psw" autocomplete="off">
    </form>

    <div style="padding: 2vh 5% 3vh 5%; width: 90%;">
        <a type="submit" id="createAccount" href="home">Sign Up</a>
    </div>

</body>

</html>