/*@media (max-width: 480px) {*/
  @font-face {
    font-family: "SF Compact Display Semibold";
    src:local("/fonts/SF-Compact-Display-Semibold.otf");
}

  body {
  font-family: "Roboto";
  text-align: center;
}

.appColor {
  background: #FED339;
}

.homeSignUpText {
  font-family: SF Compact Display;
  font-style: normal;
  font-weight: "Semibold";
  font-size: 2.5vh;
  text-align: center;
  letter-spacing: 0.02em;
  text-decoration-line: underline;
  color: #FFFFFF;
}

.weethLogo {
  width: 15vh;
  padding: 2vw;
}

.bar {
  position: fixed;
  left: 0;
  width: 100%;
  height: 10vh;
  background: #ffdd00;
  text-align: center;
  z-index: 900;
  font-family: "Roboto";
}

#navBar {
  top: 0;
}

#profileHome {
  position: fixed;
  top: 1.2vh;
  right: 1.2vh;
  width: 7vh;
  height: 7vh;
  border-radius: 50%;
  cursor: pointer;
}

#back {
  position: fixed;
  top: 1.5vh;
  left: 1.5vh;
  width: 4vh;
  cursor: pointer;
  opacity: .5;
}

#homeButton {
  position: fixed;
  top: 1.75vh;
  right: 1.75vh;
  width: 5vh;
  cursor: pointer;
  z-index: 1;
}

#botBar {
  bottom: 0;
  overflow: visible;
  background: white;
  border-top: 1px solid #e5e5e5;
}

#home {
  position: fixed;
  bottom: 1vh;
  left: 10vw;
  width: 7vh;
  cursor: pointer;
}

#noti {
  position: fixed;
  bottom: 1vh;
  left: 32.5vw;
  width: 7vh;
  cursor: pointer;
}

#friends {
  position: fixed;
  bottom: 1vh;
  right: 32.5vw;
  width: 7vh;
  cursor: pointer;
}

#createEveA {
  position: fixed;
  bottom: 1vh;
  right: 10.5vw;
  width: 7.3vh;
  cursor: pointer;
  /* display: none; */
}

#createEveB {
  position: fixed;
  bottom: 0vh;
  right: 3.5vw;
  width: 13vh;
  cursor: pointer;
}

#timeline {
  position: absolute;
  left: 17vw;
  top: 10vh;
  width: 75vw;
  height: auto;
/*  border-left: 1px solid black;*/
  border-left: 1px solid #ffbd00;
  margin-top: 5vh;
  text-align: left;
  font-size: 2.7vh;
}

.event {
  margin-bottom: 4.5vh;
}

.month {
  margin-left: -13vw;
  margin-bottom: -7vw;
  font-weight: bold;
  color: #ffbd00;
}

.eventDot {
  border-radius: 50%;
/*  background: black;*/
  background: #ffbd00;
  width: 3vw;
  height: 3vw;
  margin-left: -1.7vw;
  margin-top: -1.7vw;
}

.eventDate {
  margin-left: 5vw;
  margin-top: -5vw;
  font-weight: bold;
}

.eventCard {
  margin-left: 5vw;
  margin-top: 0vw;
  background: #fff8c9;
  padding: 1vh;
  border-radius: 2vw;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 4px 4px 0 rgba(0, 0, 0, 0.1);
}

.loginLabel {
  padding: 1vh 0 1vh 0;
  bottom: 2vh;
  text-align: left;
  margin-left: 0%;
  float: left;
}

.appTitle {
  padding: 0vh 0 0vh 0;
  margin: 0 0 0 0;
  font-family: Varela Round;
  font-style: normal;
  font-weight: normal;
  font-size: 9vh;
  line-height: 84px;
  text-align: center;
  letter-spacing: -0.05em;
  color: #FFFFFF;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

#username {
  padding: 2vh 6vw 2vh 6vw;
  font-family: Raleway;
  font-weight: 600;
  outline: none;
  width: 75vw;
  border: none;
  text-align: left;
  font-size: 2vh;
  margin-top: 1vh;
  background: #FFFFFF;
  border-radius: 50px;
}

input::placeholder {
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  color: rgba(29, 29, 29, 0.8);
}

#password {
  padding: 2vh 6vw 2vh 6vw;
  font-family: Raleway;
  font-weight: 600;
  outline: none;
  width: 75vw;
  border: none;
  text-align: left;
  font-size: 2vh;
  margin-top: 1vh;
  background: #FFFFFF;
  border-radius: 50px;
  box-shadow: 0px 2px 40px rgba(0, 0, 0, 0.1);
}

#email {
  padding: 2vh 6vw 2vh 6vw;
  font-family: Raleway;
  font-weight: 600;
  outline: none;
  width: 75vw;
  border: none;
  text-align: left;
  font-size: 2vh;
  margin-top: 1vh;
  background: #FFFFFF;
  border-radius: 50px;
  box-shadow: 0px 2px 40px rgba(0, 0, 0, 0.1);
}

#loginButton {
  color: #FED339;
  padding: 2vh 39%;
  text-align: center;
  font-family: Raleway;
  font-weight: 600;
  text-decoration: none;
  font-size: 1em;
  background: #FFFFFF;
  box-shadow: 0px 4px 18px rgba(255, 255, 255, 0.25);
  border-radius: 50px;
}

#signUpButton {
  left: 10%;
  right: 10%;
  bottom: 6%;
  position: absolute;
  width: 80vw;
  background-color: #b0b0b0;
  border: 1px solid #b0b0b0;
  color: #000000;
  padding: 2vh 20%;
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  font-size: 1em;
  box-sizing: border-box;
}

#createAccount {
  color: #FED339;
  padding: 2vh 36%;
  text-align: center;
  font-family: Raleway;
  font-weight: 600;
  text-decoration: none;
  font-size: 1em;
  background: #FFFFFF;
  box-shadow: 0px 4px 18px rgba(255, 255, 255, 0.25);
  border-radius: 50px;
}

#userPhoto {
  z-index: 1;
  background-blend-mode: normal;
  border: 7px solid #FFFFFF;
  width: 30vw;
  height: 30vw;
  margin-top: 11vh;
  text-align: center;
  border-radius: 50%;
}

#profileName {
  margin-top: 1vh;
  margin-bottom: 0vh;
  font-size: 4vh;
  font-family: SF Compact Display;
  font-style: normal;
  font-weight: 600;
  text-align: center;
  color: rgba(0, 0, 0, 0.93);
}

.profileText {
  padding: 2.3vh 10vw 2.3vh 11vw;
  width: 90%;
  font-size: 2vh;
  text-align: left;
  outline: none;
  color: rgba(29, 29, 29, 0.9);
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  margin-bottom: 3vh;
  background: #FFFFFF;
  border-radius: 50px;
  box-shadow: 0px 2px 40px rgba(0, 0, 0, 0.1);
  border: none;
}

.profileFill {
  float: left;
  margin-left: 6vw;
}

#saveChanges {
  width: 90%;
  height: 6vh;
  white-space: nowrap;
  text-align: center;
  border: none;
  outline: none;
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  font-size: 2vh;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  text-decoration: none;
  background: #FFD540;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
}

.input-icons i {
  position: absolute;
}

.input-icons {
  width: 100%;
  margin-bottom: 10px;
}

.icon {
  padding: 10px;
  color: #181818;
  min-width: 50px;
  text-align: left;
}

.editIcon {
  left: auto;
  right: 0vw;
}

.input-field {
  display: inline-block;
  width: 100%;
  padding: 10px;
  text-align: left;
  font-weight: bold;
}

#signOut {
  width: 90%;
  height: 6vh;
  border: none;
  outline: none;
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  font-size: 2vh;
  text-align: center;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  text-decoration: none;
  background: #FFD540;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
}

#addFriend {
  margin-top: -2.5vh;
  padding: .8vh 12vw;
  font-size: 2.5vh;
  font: "Roboto";
  outline: none;
  border: 2px solid #ffbd00;
  border-radius: 3vw;
  background: white;
  color: #ffbd00;
  text-decoration: none;
}

.friendPhoto {
  margin-left: 6vw;
  height: 7vh;
  width: 7vh;
  border-radius: 50%;
}

.friendText {
  font-family: "Roboto";
  font-size: 3vh;
  margin: 0;
  text-align: right;
  color: black;
  text-decoration: none;
  padding: 1.5vh 2vw 3vh 4vw;
}

.friendDiv {
  width: 100%;
  height: auto;
  text-align: left;
  display: inline-block;
  overflow: hidden;
  padding-bottom: 2vh;
  font-size: 2.7vh;
}

.friendClickIcon {
  width: 5vw; 
  height: auto; 
  margin-right: 9%; 
  margin-top: 1.3vh;
  float: right;
  opacity: .25;
}

.createForm {
  position: absolute;
  left: 10%;
  width: 80%;
  top: 15%;
  height: 80%;
}

#autoFill {
  margin-bottom: -5vh;
/*  border: 1px solid lightgrey;*/
  height: auto;
  color: lightgray;
  text-align: left;
  padding: 1vh;
  display: none;
  overflow: scroll;
  cursor: pointer;
}

.exist-friends {
  font-size: 2.5vh;
  list-style: none;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.existFriend {
  padding: 2vh 4vw 2vh 4vw;
  margin: 0 0 0 0;
  color: black;
  cursor: pointer;
  text-align: left;
  background: white;
  border: none;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

#createFinish {
  background-color: #ffdd00;
  color: #000000;
  padding: 1.2vh 0;
  text-align: center;
  font-size: 3.5vh;
}

.createForm input {
  width: 100%;
  padding: 1vh;
  border: 1px solid #ffdd00;
  /*      padding: 1.5vh 25vh 2vh 2vh;*/
  text-align: left;
  font-size: 3vh;
  margin-top: 1vh;
  width: 80vw;
  background-color: white;
}

::placeholder {
  color: lightgray;
}

.allNotis {
  position: absolute;
  left: 8vw;
  top: 9vh;
  width: 84vw;
  height: auto;
}

.notiCard {
  display: block;
  position: relative;
  margin-left: 6vw;
  margin-bottom: 4vh;
  width: 72vw;
  height: 17vh;
  padding: 3vw 6vw;
  background: #fff8c9;
  text-align: left;
  font-size: 2.7vh;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.notiUser {
  position: absolute;
  left: 5%;
  width: 15vw;
  height: 15vw;
  border-radius: 50%;
}

.notiContent {
  position: absolute;
  left: 23vw;
  margin-top: 0vw;
  font-weight: bold;
}

.notiAction1 {
  position: absolute;
  width: auto;
  bottom: 3vh;
  left: 4vw;
  padding: 0.5vw 2.5vw;
  border: 1px solid gray;
  border-radius: 6vw;
}

.notiAction2 {
  position: absolute;
  bottom: 3vh;
  right: 4vw;
  padding: 0.5vw 2.5vw;
  background: #ffdd00;
  color: white;
  border: 1px solid #ffdd00;
  border-radius: 6vw;
}

.searchBar {
  display: inline-block;
  width: 70%;
  height: 5vh;
/*  background: #e5e5e5;*/
  border: 1px solid #ffdd00;
  overflow: hidden;
  padding-left: 2%;
  margin-left: 4vw;
  outline: none;
  font-size: 2.5vh;
  margin-top: -1vh;
}

.hiddenFriend {
  display: none;
  width: 100%;
  height: auto;
  display: inline-flex;
  padding-bottom: 0.5vh;
  font-size: 2.7vh;
}

.friendLabel {
  text-align: left;
  padding-left: 2%;
  font-size: 2.5vh;
}

#friendCancel {
  padding: 3vw;
  width: 5%;
  background-color: white;
  border: none;
  overflow: hidden;
  height: 5vh;
  color: darkgray;
  text-align: center;
  font-family: Roboto;
  font-weight: bold;
  text-decoration: none;
  font-size: 2.2vh;
  padding-left: 10px;
}

.addIcon {
  /*  padding: 1.5vh 10vw 1.5vh 0;*/
  width: 10%;
  height: 3.5vh;
  float: right;
  margin-right: 10vw;
  margin-top: 1.5vh;
  overflow: hidden;
}
/*}*/
